/* 初始化 */
*{
	margin: 0;
	padding: 0;
}
.nav{
	height: 44px;
	background: rgba(0,0,0,0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav a{
	color: #fff;
	text-decoration: none;
	width: 102px;
	text-align: center;
}
.nav .logo{
	height: 44px;
	background-image: url(../img/apple.svg);
	/* 设置背景图片不重复 */
	background-repeat: no-repeat;
	background-position: center;
}
.nav .search{
	height: 88px;
	background-image: url(../img/search.svg);
	/* 设置背景图片不重复 */
	background-repeat: no-repeat;
	background-position: center;
	align-self: flex-start;
}
.nav .buy{
	height: 44px;
	background-image: url(../img/buy.svg);
	/* 设置背景图片不重复 */
	background-repeat: no-repeat;
	background-position: center;
}
.toggleBtn{
	height: 44px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.toggleBtn .line{
	height: 1px;
	width: 18px;
	background-color: #FFFFFF;
	display: none;
	transition: .5s;
	/* 设置旋转的中心点 */
	transform-origin: left;
}
.toggleBtn .line:nth-child(1){
	position: absolute;
	left: calc(50% - 9px);
	top: 14px;
}
.toggleBtn .line:nth-child(2){
	position: absolute;
	left: calc(50% - 9px);
	top: 26px;
}
.navpage{
	display: flex;
	height: 0vh;
	width: 100vw;
	transition: all .8s;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #000;
}
.navpage .navMain{
	width: 100%;
}
@media only screen and (max-width:768px) {
	.toggleBtn{
		display: flex;
		z-index: 100;
		position: relative;
	}
	.nav .logo{
		z-index: 100;
		position: relative;
	}
	.toggleBtn .line{
		display: block;
	}
	.nav .text,.search{
		display: none;
	}
	.nav{
		justify-content: space-between;
	}
	.nav a,label{
		width: 50px;
	}
	.nav .toggleBtn{
		order: 1;
	}
	.nav .logo{
		order: 2;
	}
	.nav .buy{
		order: 3;
	}
	#choose:checked~.toggleBtn .line:nth-child(1){
		transform: rotate(45deg);

	}
	#choose:checked~.toggleBtn .line:nth-child(2){
		transform: rotate(-45deg);
	}
	#choose:checked~.navpage{
		display: flex;
		width: 100vw;
		height: 100vh;
		position: fixed;
		left: 0;
		top: 0;
		background-color: #000;
		color: #fff;
		flex-direction: column;
		padding-top: 54px;
	}
	.searchInput{
		margin: 0 28px 20px;
		height: 36px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-radius: 4px;
		color: #ccc;
		background-color: rgba(45,45,45,0.98);
	}
	.searchInput .icon{
		width: 32px;
		height: 72px;
		background-image: url(../img/search.svg);
		background-repeat: no-repeat;
		background-position: center;
		align-self: flex-start;
		/* background-size */
	}
	.searchInput input{
		flex: 1;
		margin: 0 10px;
		height: 100%;
		background: transparent;
		border: none;
		outline: none;
		color: #FFFFFF;
	}
	hr{
		border-color: #333;
	}
	.navList{
		margin: 0 28px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.navList a{
		width: 100%;
		height: 44px;
		color: #fff;
		text-align: left;
		border-bottom: 1px solid #333;
		line-height: 44px;
	}
	.navList a:last-child{
		border-bottom: none;
	}
}